* .cardFilme{
    display: inline-block;
    background-color: #964b00;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(255, 247, 0); 
    margin: 10px;
}


.cardFilme>img {
    display: inline-block;
    width: 200px;
}


.cardFilme>.filme-info {
    float: right;
    margin-top: 140px;
    padding: 5px;
   
}