*{
    margin: 0px;
    padding: 0px;
    line-height: 1;
    box-sizing: border-box;
}

.cardFilme > img{
    display: inline-block;
    background-color: #555f99;
     text-align: center;
     width: 200px;
}

.cardFilme > .filme-info {
    display: inline--block;
    position: absolute;
    top: calc(100% - 50px);
    width: 200px;
}